<h1>Add Child</h1>

<%= form_for :child, url: children_path do |f| %>



  <p>
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>
