/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid rgba(5, 0, 0, 0.4); */
}

  html,body {
   height: 100vh;
   margin: 0 auto;
   padding-top: 00px;
 }

 .children {
   background: #3030303;
 }

 nav {
   background: hsla(0, 0%, 9%, 0.80);
   position: fixed;
    a.navbar:link, a.navbar:visited, a.navbar:active {
      text-decoration: none;
      color: #9B2AF8;
    }
    a.navbar:hover {
      text-decoration: none;
      color: #9B2AF8;
    }
 }

 .container {
   text-align: center;
 }

 #content {
   text-align: center;
   color: #f1f1f1;
   margin: 0%;
   margin-top: 50px;
   background: #303030;
   width: 100%;
   padding-bottom: 100px;
   padding-top: 30px;
 }

 .form {
   color: #BABABA;
 }

 .pre-scrollable {
   margin: 0%;
   padding: 2% 8%;
   background: #303030;
   min-height: 100vh;
 }

 #moneypool {
   background: #BABABA;
   color: white;
   margin: 0%;
   padding: .5%;
   width: 100%;
 }

 .childbox {
   margin: 1% 0%;
   padding: 2% 8%;
   border: 12px solid;
   border-radius: 25px;
   background-color: #303030;
   vertical-align: middle;
  }

 .col-xl-8 {
   padding: .5%;
   margin: .5%;
   vertical-align: middle;
 }

 .colored-row {
  background-color: #303030;
  text-align: center;
  vertical-align: middle;
 }

 a.no-dec-link:link, a.no-dec-link:visited, a.no-dec-link:active,  {
   text-decoration: none;
   color: #303030;
 }

 a.no-dec-link:hover {
   color: #f1f1f1;
 }

 .reset {
 }

 .red {
   border-color: #E82A2A;

   a.red:link, a.red:visited, a.red:active, {
     text-decoration:none;
     color: #E82A2A;
   }
   a.red:hover {
     text-decoration: none;
     color: #909090;
   }
 }

 .orange {
   border-color: #F97F05;

    a.orange:link, a.orange:visited, a.orange:active, {
      text-decoration:none;
      color: #F97F05;
    }
    a.orange:hover {
      text-decoration: none;
      color: #909090;
     }
  }

 .yellow {
   border-color: #E7E30D;

    a.yellow:link, a.yellow:visited, a.yellow:active, {
      text-decoration:none;
      color: #E7E30D;
    }
    a.yellow:hover {
      text-decoration: none;
      color: #909090;
    }
 }

 .green {
   border-color: #0BD501;
   a.green:link, a.green:visited, a.green:active, {
     text-decoration:none;
     color: #0BD501;
   }
   a.green:hover {
     text-decoration: none;
     color: #909090;
   }
 }

 .pink {
   border-color: #E763A5;
   a.pink:link, a.pink:visited, a.pink:active, {
     text-decoration:none;
     color: #E763A5;
   }
   a.pink:hover {
     text-decoration: none;
     color: #909090;
   }
 }

 .blue {
   border-color: #1169F7;
   a.blue:link, a.blue:visited, a.blue:active, {
     text-decoration:none;
     color: #1169F7;
   }
   a.blue:hover {
     text-decoration: none;
     color: #909090;
   }
 }

 .purple {
   border-color: #9B2AF8;
   a.purple:link, a.purple:visited, a.purple:active, {
     text-decoration:none;
     color: #9B2AF8;
   }
   a.purple:hover {
     text-decoration: none;
     color: #909090;
   }
 }

 .footer {
   margin: 0% 0% 0% 0%;
   padding: 3%;
   background: hsla(0, 0%, 9%, 0.95);
   color: white;
   position: fixed;
   left:0px;
   bottom:0px;
   width:100%;
   height: 75px;
 }
