/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

 @import "bootstrap-sprockets";
 @import "bootstrap";


 .jumbotron {
     background-color: #f0f0f0;
     color: #400080;
     border-bottom: 2px;
     border-bottom-color: purple;
 }

 .container-fluid {
   text-align: center;
   margin: 0% 1%;
 }

 #children {
    margin: 0% 4%;
    border: 2px solid;
    border-color: white;
    border-radius: 25px;
  }

 .col-xl-8 {
   padding: .5%;
   margin: .5%;
 }

 .colored-row {
  background-color: inherit;
  text-align: center;
 }

 a.no-dec-link:link, a.no-dec-link:visited, a.no-dec-link:active,  {
   text-decoration:none;
   color: #fff;
 }

 a.no-dec-link:hover {
   color: #400080;
 }

 .reset {
 }

 .red {
   background-color: red;
 }

 .orange {
   background-color: orange;
 }

 .yellow {
   background-color: yellow;
 }

 .green {
   background-color: green;
 }

 .pink {
   background-color: pink;
 }

 .blue {
   background-color: blue;
 }

 .purple {
   background-color: purple;
 }

 .footer {
   margin: 1%;
 }
